<app-nav></app-nav>

<body>

    <br>

    <div class="center">
        <h3>Nueva localización Airsoft Sevilla</h3>
    </div>

    <div class="row">
        <div class="offset-l1 col l10 center">
            <img class="responsive-img"
                src="https://media-cdn.tripadvisor.com/media/photo-s/1a/e4/f1/f0/la-mejor-experiencia.jpg" alt="">
        </div>
        <div class="offset-l2 col l8 offset-l2">
            <div>
                <p>
                    Desde GOE Sevilla queremos anunciar una nueva localización para jugar.
                    Se encuentra en el municipio de Dos Hermanas, con un total de 900m2 esta
                    inspirado en el famoso mapa 'Nuketown' de videojuego Call of Duty: Black Ops,
                    Blacks Ops 2 y renombrado como 'Nuk3town' en Call of Duty: Black Ops III y
                    Call of Duty: Infinite Warfare.
                </p>
                <img class="responsive-img" src="https://pbs.twimg.com/media/EcAy2AoWAAE444W.jpg" alt="">
                <p>
                    Estara disponible para entrar a jugar a partir del 14 de Febrero de este año, donde se
                    hará un evento especial San Valentin, organizado por nosotros, GOE Airsoft Sevilla.
                </p>
            </div>

        </div>
    </div>

    <app-footer></app-footer>
</body>