
  body{
    background-image: url("../../assets/404.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }
   
   

  h1, h2 {
    font-family: 'gun', 'arial', sans-serif;
    color: #ffffff;
}

button {
    font-family: 'gun', 'arial', sans-serif;
    color: #ffffff;
    background-color: #000;
    font-size: 40px;
    transition: ease-in-out .3s;
    border-radius: 45px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.3);
}
