<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l3 m12 s12">
                <h5 class="white-text">GOE Airsoft Sevilla</h5>
                <p class="grey-text text-lighten-4">Desde el 2008 llevamos ofreciendo todo tipos de servicios para este gran deporte, dando las últimas noticias, ofreciendo los mejores eventos y vendiendo sus primeras réplicas a miles de personas! </p>
            </div>
            <div class="col l3 m4 s12">
                <h5 class="white-text">Empresa</h5>
                <ul>
                    <li><a class="white-text" routerLink="/cookies">Cookies</a></li>
                    <li><a class="white-text" routerLink="/avisos-legales">Avisos legales</a></li>
                    <li><a class="white-text" routerLink="/informacion-web">Informacion sobre la web</a></li>
                </ul>
            </div>  
            <div class="col l3 m4 s6">
                <h5 class="white-text">Web</h5>
                <ul>
                    <li><a class="white-text" routerLink="/home" >Home</a></li>
                    <li><a class="white-text" routerLink="/faqs">FAQs</a></li>
                    <li><a class="white-text" routerLink="/noticias">Noticias</a></li>
                    <li><a class="white-text" routerLink="/shop">Tienda</a></li>
                </ul>
            </div>
            <div class="col l3 m4 s6">
                <h5 class="white-text">Contacto</h5>
                <ul>
                    <li><a class="white-text" href="https://www.instagram.com/goeairsoftsevilla/">Instagram</a></li>
                    <li><a class="white-text" href="https://twitter.com/goeairsoftsevilla">Twitter</a></li>
                    <li><a class="white-text" href="https://www.instagram.com/goeairsoftsevilla/">Telegram</a></li>
                    <li><a class="white-text" href="https://wa.me/123123123">WhatsApp</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="orange-text text-lighten-3" href="http://materializecss.com">© 2021 GOE Airsoft Sevilla</a>, a
            <a target="_blank" href="https://snchezz.github.io/LinktreeSnchezz/">asanchezvera production</a>
        </div>
    </div>
</footer>