<app-nav></app-nav>

<body>

    <br>

    <div class="center">
        <h3>KRAKEN GALICIA PRESENTA SU NUEVO MIEMBRO</h3>
    </div>

    <div class="row">
        <div class="offset-l1 col l10 center">
            <img id="wolf" class="responsive-img"
                src="https://img.freepik.com/foto-gratis/retrato-jugador-airsoft-equipo-profesional-ametralladora-edificio-abandonado-ruinas-soldado-armas-guerra_154092-3146.jpg"
                alt="">
        </div>
        <div class="offset-l2 col l8 offset-l2">
            <div>
                <p>
                    Francisco Javier, mas conocido como Alpha Jet, ficha por Kraken Galicia. El jugador con mas de 100
                    partidas y un impresionante record de 90 victorias y 10 derrotas jugara a partir de la siguiente
                    temporada en Kraken.<br><br>

                    Este jugador tiene en su poder mas de 80 titulos de MVP (Most Valued Player)


                </p>
            </div>
        </div>
        <div class="offset-l1 col l10 center">
            <img id="wolf" class="responsive-img"
                src="https://p4.wallpaperbetter.com/wallpaper/248/407/709/airsoft-ar15-kraken-kriss-vector-wallpaper-preview.jpg"
                alt="">
            <p>Le deseamos el mejor futuro a este gran jugador</p>
        </div>
    </div>
    <app-footer></app-footer>
</body>