<!--Meter en un-->


<body>

    <app-nav></app-nav>
    <br>

    <div class="center">
        <h3>Mandanos un Mensaje</h3>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field offset-s1 col m3 s5 push-m3 formbg">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col m3 s5 push-m3 formbg">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Apellidos</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field offset-s1 col m6 s10 push-m3 formbg">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Formato correo erroneo!"
                        data-success="Formato correo correcto!"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field offset-s1 col m6 s10 push-m3 formbg">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Mensaje</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field offset-s1 col m6 s10 push-m3">
                    <button onclick="M.toast({html: 'Mensaje enviado'})" class="btn waves-effect waves-light black"
                        type="submit" name="action">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="center">
        <h3>Siguenos por redes sociales</h3>
    </div>

    <div class="row center">
        <div class="col m3 s6 push-m3">
            <h4><a class="ig" target="_blank"
                    href="https://www.instagram.com/goeairsoftsevilla/">Instagram</a>&nbsp;<img
                    class="responsive-img iconos" src="./assets/ig.png" alt=""></h4>
        </div>
        <div class="col m3 s6 push-m3">
            <h4><a class="azu" target="_blank" href="https://twitter.com/goeairsoftsevilla">Twitter</a>&nbsp;<img
                    class="responsive-img iconos" src="./assets/tw.png" alt=""></h4>
        </div>
    </div>

    <div class="row center">
        <div class="col m3 s6 push-m3">
            <h4><a class="azu" target="_blank"
                    href="https://www.instagram.com/goeairsoftsevilla/">Telegram</a>&nbsp;<img
                    class="responsive-img iconos" src="./assets/tg.png" alt=""></h4>
        </div>
        <div class="col m3 s6 push-m3">
            <h4><a class="ver" target="_blank" href="https://wa.me/123123123">Whatsapp</a>&nbsp;<img
                    class="responsive-img iconos" src="./assets/wha.png" alt=""></h4>
        </div>
    </div>

    <div class="center">
        <h3>O ven a visitarnos</h3>
    </div>

    <div class="row">

        <div class="offset-l5 offset-m4 offset-s1 col">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.8971950165924!2d-5.997128484355366!3d37.3922634418465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c0feb082d0b%3A0x662f2b363a7b7ed9!2sC.%20Sierpes%2C%206%2C%2041004%20Sevilla!5e0!3m2!1ses!2ses!4v1643403780158!5m2!1ses!2ses"
                width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <br>
            <a id="maps" target="_blank" href="https://goo.gl/maps/yyVAUL9uYNgeMV9z8">Ver en maps</a>s
        </div>

    </div>

    <app-footer></app-footer>
</body>