<app-nav></app-nav>


<body>

  <!--Busqueda y login-->

  <nav class="black" style="padding:0px 10px;">
    <div class="nav-wrapper row">
      <div class="nav-wrapper col l11 m10 s9">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
      <div class="brand-logo right col">
        <a class="tooltipped pointer" data-position="left" data-tooltip="Iniciar sesion" routerLink="/login"> <i
            class="material-icons">person</i>
        </a>
        <a class="tooltipped pointer" data-position="left" data-tooltip="Carrito" routerLink="/carrito"> <i
            class="material-icons">shopping_cart</i>
        </a>
      </div>
    </div>
  </nav>

  <!--Productos-->

  <h1 class="center" id="armas-largas">Armas largas</h1>

  <div id="padre" class="row">

    <!--Armas largas-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./assets/riflet21.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>D|BOYS RIFLE T21</p><i id="fondorev" class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">110,00 € <span class="barra">/</span> <del class="dinerooferta"> 130,00 €</del></p>

          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#4782"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>
          <!-- Modal Structure -->
          <div id="4782" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>D|BOYS RIFLE T21 BLACK</p>
              <img class="responsive-img image" src="./assets/riflet21.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Larga </p>
                <p class="left-align"><strong>Referencia:</strong> 4782</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 110,00 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>
          <!--Final-->
        </div>
        <div id="fondorev" class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>D|BOYS ELECTRIC RIFLE T21 BLACK</p><i id="fondorev" class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Polímero y metal </li>
            <li>&nbsp;&nbsp;• Longitud: 690mm </li>
            <li>&nbsp;&nbsp;• Peso: 2380g </li>

          </ul>
        </div>
      </div>
    </div>

    <!--G3-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://airsoftyecla.es/14313-large_default/heckler-koch-g3.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>HECKLER & KOCH G3
            </p><i class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">680,00 € <span class="barra">/</span> <del class="dinerooferta"> 750,00 € </del></p>

          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#109-26395X"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>
          <!-- Modal Structure -->
          <div id="109-26395X" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>HECKLER & KOCH G3</p>
              <img class="responsive-img image" src="https://airsoftyecla.es/14313-large_default/heckler-koch-g3.jpg"
                alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Larga </p>
                <p class="left-align"><strong>Referencia:</strong> 109-26395X</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 680,00 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>
          <!--Final-->
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>HECKLER & KOCH G3
            </p><i class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Referencia de variante: 109-26395X </li>
            <li>&nbsp;&nbsp;• Versión: Blow Back Full Metal </li>
            <li>&nbsp;&nbsp;• Color: Negra </li>
            <li>&nbsp;&nbsp;• Capacidad: 20 rds </li>
            <li>&nbsp;&nbsp;• Potencia: 1,0 julios </li>
            <li>&nbsp;&nbsp;• Recom: 0,20-0,30 g </li>
            <li>&nbsp;&nbsp;• Cargador: 116-263951 </li>
          </ul>
        </div>
      </div>
    </div>

    <!--AM-009-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://airsoftyecla.es/2671-large_default/ares-amoeba-am-009-tan.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>AM-009</p><i id="fondorev" class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">200,95 € <span class="barra">/</span> <del class="dinerooferta"> 245,95 € </del></p>

          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#AM-009TAN"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>
          <!-- Modal Structure -->
          <div id="AM-009TAN" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>ARES AMOEBA AM-009 TAN</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/2671-large_default/ares-amoeba-am-009-tan.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Larga </p>
                <p class="left-align"><strong>Referencia:</strong> AM-009TAN</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 200,95 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>
          <!--Final-->

        </div>
        <div id="fondorev" class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>ARES AMOEBA AM-009 TAN</p><i id="fondorev" class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Guardamanos de aluminio con dos secciones de carril Picatinny.</li>
            <li>&nbsp;&nbsp;• Cuerpo y culata fabricado en fibra de nylon.</li>
            <li>&nbsp;&nbsp;• Empuñadura antideslizante para mejorar el agarre.</li>
            <li>&nbsp;&nbsp;• Compartimiento de la batería de fácil acceso.</li>
            <li>&nbsp;&nbsp;• Botón de liberación del cargador ampliado.</li>
            <li>&nbsp;&nbsp;• Gearbox 8 mm y Engranajes metálicos reforzados.</li>
            <li>&nbsp;&nbsp;• Cañon interno de precisión 6.03 mm.</li>
            <li>&nbsp;&nbsp;• Sistema de Control Electrónico de disparo (EFCS - Safe / Semi / Ráfaga de 3 / Full Auto).
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!--PDW15-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img id="polo" class="activator"
            src="https://airsoftyecla.es/2136-large_default/gg-pdw15-ar-egc-pdw-012-bnb-ncm.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p id="whtext">PDW15</p><i id="fondorev" class="material-icons right">more_vert</i>
          </span>

          <p class="center dinero">290,20 € <span class="barra">/</span><del class="dinerooferta"> 307,20 €</del></p>

          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#GAG067290"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>
          <!-- Modal Structure -->
          <div id="GAG067290" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>G&G PDW15-AR</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/2136-large_default/gg-pdw15-ar-egc-pdw-012-bnb-ncm.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Larga </p>
                <p class="left-align"><strong>Referencia:</strong> GAG067290</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 290,20 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>
          <!--Final-->
        </div>
        <div id="fondorev" class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p id="whtext">G&G PDW15-AR</p><i id="fondorev" class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Modelo: PDW15-AR</li>
            <li>&nbsp;&nbsp;• Referencia G&G: EGC-PDW-012-BNB-NCM</li>
            <li>&nbsp;&nbsp;• Cuerpo: Metal</li>
            <li>&nbsp;&nbsp;• Guardamanos: Aluminio CNC anodizado</li>
            <li>&nbsp;&nbsp;• Longitud total: 780mm</li>
            <li>&nbsp;&nbsp;• Peso: 2560g</li>
            <li>&nbsp;&nbsp;• Rodamientos: 8mm</li>
            <li>&nbsp;&nbsp;• Ratio de engranajes: 12:1</li>
            <li>&nbsp;&nbsp;• Motor: High Torque 17000rpm</li>
            <li>&nbsp;&nbsp;• Cargador: 300R</li>
            <li>&nbsp;&nbsp;• Velocidad: 100m/s</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--Segunda fila-->

  <h1 class="center" id="armas-cortas">Armas cortas</h1>

  <div id="padre" class="row">

    <!--Armas cortas-->

    <!--WE G-Force 18C-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://airsoftyecla.es/14392-large_default/we-g-force-18c-sv-metal-version-gbb-silver.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>WE G-Force 18C
            </p><i class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">132,90 € <span class="barra">/</span><del class="dinerooferta"> 162,90 € </del></p>
          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#22279"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>

          <!-- Modal Structure -->
          <div id="22279" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>WE G-Force 18C</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/14392-large_default/we-g-force-18c-sv-metal-version-gbb-silver.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Corta </p>
                <p class="left-align"><strong>Referencia:</strong> 22279</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 132,90 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>

          <!--Final-->
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>WE G-Force 18C SV Metal Versión GBB - Silver
            </p><i class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Hop-Up: Ajustable </li>
            <li>&nbsp;&nbsp;• Modo de disparo: Automático / semiautomático </li>
            <li>&nbsp;&nbsp;• Capacidad del cargador: 22 bolas </li>
            <li>&nbsp;&nbsp;• Longitud: 185 mm </li>
            <li>&nbsp;&nbsp;• Longitud del cañón interior: 80 mm </li>
            <li>&nbsp;&nbsp;• Rosca: WE / Socom Gear </li>
            <li>&nbsp;&nbsp;• Calibre: 6 mm </li>
            <li>&nbsp;&nbsp;• Peso: 830 g </li>
          </ul>
        </div>
      </div>
    </div>

    <!--GOLDEN EAGLE-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://airsoftyecla.es/14932-large_default/pistola-gas-negrorojo-fullmetal-maletin-golden-eagle.jpg  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>GOLDEN EAGLE</p><i id="fondorev" class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">80,95 € <span class="barra">/</span><del class="dinerooferta"> 119,95 € </del></p>

          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#3342"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>

          <!-- Modal Structure -->
          <div id="3342" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>GOLDEN EAGLE</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/14932-large_default/pistola-gas-negrorojo-fullmetal-maletin-golden-eagle.jpg"
                alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Corta </p>
                <p class="left-align"><strong>Referencia:</strong> 3342</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 80,95 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>

          <!--Final-->
        </div>
        <div id="fondorev" class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>GOLDEN EAGLE</p><i id="fondorev" class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Réplica de pistola, funciona con gas.</li>
            <li>&nbsp;&nbsp;• Fabricante: Golden Eagle.</li>
            <li>&nbsp;&nbsp;• Full metal, Réplica de gas, Blow Back.</li>
          </ul>
        </div>
      </div>
    </div>

    <!--GLOCK 17-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://airsoftyecla.es/4379-large_default/glock-17-gen-5-we-gas-blowback.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>GLOCK 17 GEN 5</p><i class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">99,95 € <span class="barra">/</span><del class="dinerooferta"> 119,95 € </del></p>
          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#GUNT0847"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>

          <!-- Modal Structure -->
          <div id="GUNT0847" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>GLOCK 17 GEN 5</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/4379-large_default/glock-17-gen-5-we-gas-blowback.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Corta </p>
                <p class="left-align"><strong>Referencia:</strong> GUNT0847</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 99,95 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>

          <!--Final-->
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>GLOCK 17 GEN 5 WE GAS BLOWBACK</p><i class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Longitud : 210 mm </li>
            <li>&nbsp;&nbsp;• Peso : 740 g </li>
            <li>&nbsp;&nbsp;• Capacidad del cargador : 25 + 1 ronda</li>
            <li>&nbsp;&nbsp;• Fuente de alimentación : gas verde / gas superior </li>
            <li>&nbsp;&nbsp;• Blowback - Sí </li>
            <li>&nbsp;&nbsp;• Modos de disparo - Semi Auto </li>
            <li>&nbsp;&nbsp;• Hop-up - Ajustable </li>
            <li>&nbsp;&nbsp;• Compatibilidad con revistas - WE g series magazines. </li>
            <li>&nbsp;&nbsp;• FPS - 300 </li>
          </ul>
        </div>
      </div>
    </div>



    <!--GBB GOLD-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img id="polo" class="activator"
            src="https://airsoftyecla.es/13377-large_default/galaxy-serie-g-gbb-gold-we.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p id="whtext">G GBB GOLD</p><i id="fondorev" class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">147,95 € <span class="barra">/</span><del class="dinerooferta"> 177,95 € </del></p>

          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#WE"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>

          <!-- Modal Structure -->
          <div id="WE" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>GALAXY SERIE G GBB GOLD - WE</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/13377-large_default/galaxy-serie-g-gbb-gold-we.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Corta </p>
                <p class="left-align"><strong>Referencia:</strong> WE-GX01-GD</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 147,95 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>

          <!--Final-->



        </div>
        <div id="fondorev" class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p id="whtext">GALAXY SERIE G GBB GOLD - WE</p><i id="fondorev" class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Marca: WE </li>
            <li>&nbsp;&nbsp;• Color: Oro </li>
            <li>&nbsp;&nbsp;• Calibre: 6 mm </li>
            <li>&nbsp;&nbsp;• Accionamiento: Gas </li>
            <li>&nbsp;&nbsp;• Potencia: 0,9 julios </li>
            <li>&nbsp;&nbsp;• Hop-up ajustable </li>
            <li>&nbsp;&nbsp;• Materiales :Metal, polímero </li>
            <li>&nbsp;&nbsp;• Presión: 130(PSI) </li>
            <li>&nbsp;&nbsp;• Capacidad del cargador: 23 disparos (6 mm) </li>
            <li>&nbsp;&nbsp;• Peso: 890g </li>
            <li>&nbsp;&nbsp;• Modo de disparo : Semi / Automático / Seguro </li>
          </ul>
        </div>
      </div>
    </div>
  </div>




  <!--Tercera fila-->

  <h1 class="center" id="escopetas">Escopetas</h1>

  <div id="padre" class="row">

    <!--Armas cortas-->

    <!--CYMA SHOTGUN 355 PLASTIC TAN-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://airsoftyecla.es/14792-large_default/escopeta-cyma-shotgun-355-plastic-tan.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>CYMA 355
            </p><i class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">69,95 € <span class="barra">/</span><del class="dinerooferta"> 79,95 € </del></p>

          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#CM355T"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>

          <!-- Modal Structure -->
          <div id="CM355T" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>GOLDEN EAGLE</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/14792-large_default/escopeta-cyma-shotgun-355-plastic-tan.jpg"
                alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Escopeta </p>
                <p class="left-align"><strong>Referencia:</strong> CM355T</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 69,95 € € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>

          <!--Final-->
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>CYMA SHOTGUN 355 PLASTIC TAN
            </p><i class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Escopeta 355 </li>
            <li>&nbsp;&nbsp;• Cuerpo de resina ABS, cañón metálico </li>
            <li>&nbsp;&nbsp;• La escopeta dispara 3 BB simultáneamente. </li>
            <li>&nbsp;&nbsp;• Cargador Shotshell 3x10 (10 ronda, 30 BB), 1 cargador incluido </li>
            <li>&nbsp;&nbsp;• Longitud del cañón interior: 80 mm </li>
            <li>&nbsp;&nbsp;• Bloqueo de seguridad, soportes de cabestrillo, almohadilla de goma </li>
            <li>&nbsp;&nbsp;• Largo 89,5cm, peso 1400g </li>
            <li>&nbsp;&nbsp;• Speedloader BB incluido </li>
          </ul>
        </div>
      </div>
    </div>

    <!--ESCOPETA DE GAS M870 (8870) - GOLDEN EAGLE-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://airsoftyecla.es/13190-large_default/escopeta-de-gas-m870-8870-golden-eagle.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>M870</p><i id="fondorev" class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">99,95 € <span class="barra">/</span><del class="dinerooferta"> 134,95 € </del></p>

          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#8870"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>

          <!-- Modal Structure -->
          <div id="8870" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>ESCOPETA DE GAS M870 (8870)</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/13190-large_default/escopeta-de-gas-m870-8870-golden-eagle.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Escopeta </p>
                <p class="left-align"><strong>Referencia:</strong> 8870</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 134,95 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>

          <!--Final-->
        </div>
        <div id="fondorev" class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>ESCOPETA DE GAS M870 (8870)</p><i id="fondorev" class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Réplica de escopeta, funciona con gas (deposito en la culata) </li>
            <li>&nbsp;&nbsp;• Retroceso</li>
            <li>&nbsp;&nbsp;• Modo de disparo: Semi-Auto </li>
            <li>&nbsp;&nbsp;• Cargador: Cartucho 30BBS (incluye 3 cartuchos) </li>
            <li>&nbsp;&nbsp;• Longitud: 950 mm </li>
            <li>&nbsp;&nbsp;• Barrel Length: 260mm (Interno) </li>
            <li>&nbsp;&nbsp;• Peso: 2738g </li>
            <li>&nbsp;&nbsp;• Construcción: Metálica </li>
            <li>&nbsp;&nbsp;• Color: negro </li>
          </ul>
        </div>
      </div>
    </div>

    <!--Escopeta APS 6mm Co2 CAM MKIII-T-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://airsoftyecla.es/11867-large_default/escopeta-aps-6mm-co2-cam-mkiii-t.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p>APS CAM MKIII-T</p><i class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">379,95 € <span class="barra">/</span><del class="dinerooferta"> 419,95 € </del></p>
          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#MKIII-T"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>

          <!-- Modal Structure -->
          <div id="MKIII-T" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>APS CAM MKIII-T</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/11867-large_default/escopeta-aps-6mm-co2-cam-mkiii-t.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Escopeta </p>
                <p class="left-align"><strong>Referencia:</strong> MKIII-T</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 379,95 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>

          <!--Final-->
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p>APS 6mm Co2 CAM MKIII-T</p><i class="material-icons right">close</i>
          </span>
          <ul>

            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Calibre: 6 mm </li>
            <li>&nbsp;&nbsp;• Tamaño del cañón exterior: 18 mm </li>
            <li>&nbsp;&nbsp;• Fuente de energía: Carcasa de cartucho de CO2 recargable </li>
            <li>&nbsp;&nbsp;• Velocidad: 330 - 360 FPS 0.20g BB x 11 (modo de ducha) </li>
            <li>&nbsp;&nbsp;• Alcance máximo: 30 metros </li>
            <li>&nbsp;&nbsp;• Alcance efectivo: 20 metros </li>
            <li>&nbsp;&nbsp;• Selector de tiro: seguro / disparo </li>
            <li>&nbsp;&nbsp;• Empuñadura y guardamanos de plástico </li>
            <li>&nbsp;&nbsp;• Capacidad de la carcasa: 5 + 1 bolas </li>
          </ul>
        </div>
      </div>
    </div>



    <!--ESCOPETA M401 Muelle-->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img id="polo" class="activator" src="https://airsoftyecla.es/2353-large_default/escopeta-m401-muelle.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <p id="whtext">M401 MUELLE</p><i id="fondorev" class="material-icons right">more_vert</i>
          </span>
          <p class="center dinero">17,99 € <span class="barra">/</span><del class="dinerooferta"> 28,00 €</del></p>
          <!--Inicio-->

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#AC80097"><i
              class="material-icons right">add_shopping_cart</i>Añadir</a>

          <!-- Modal Structure -->
          <div id="AC80097" class="modal">
            <div class="modal-content center">
              <h4>Producto añadido!</h4>
              <p>M401 MUELLE</p>
              <img class="responsive-img image"
                src="https://airsoftyecla.es/2353-large_default/escopeta-m401-muelle.jpg" alt="">
              <div class="precios marginleft">
                <p class="left-align"><strong>Tipo de arma:</strong> Escopeta </p>
                <p class="left-align"><strong>Referencia:</strong> AC80097</p>
                <p class="left-align"><strong>Precio (Con IVA):</strong> 28,00 € </p>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
              </div>
            </div>
          </div>

          <!--Final-->
        </div>
        <div id="fondorev" class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <p id="whtext">M401 MUELLE</p><i id="fondorev" class="material-icons right">close</i>
          </span>
          <ul>
            <h5> Características:</h5>
            <li>&nbsp;&nbsp;• Hop Up: FIJO </li>
            <li>&nbsp;&nbsp;• Peso: 470 grs </li>
            <li>&nbsp;&nbsp;• Longitud: 533 mm </li>
            <li>&nbsp;&nbsp;• FPS: 300 </li>
            <li>&nbsp;&nbsp;• Cargador: 17 rds </li>
          </ul>
        </div>
      </div>
    </div>
  </div>




  <app-footer></app-footer>


</body>