.btn {
    background-color: #000 !important;
}

body {
    background-image: url(https://1.bp.blogspot.com/-itRb4UQT7vg/XxBk77oop_I/AAAAAAAAGXQ/S2SWMmRwP1o-xi7YHb9qcdjZHUQxiB85QCLcBGAsYHQ/w1200-h630-p-k-no-nu/wallpaperize-camo-military-dark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}