<app-nav></app-nav>

<body>

    <div id="padre" class="row">
        <div class="offset-m1 offset-l2 col s12 m10 l8 offset-l2">
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img src="https://pbs.twimg.com/media/D2btbZzXcAAYhRo.jpg">
                        <span class="card-title">Competición</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>El equipo juvenil "Los Lobos" iran...</p>
                        </span>
                        <a routerLink="/noticias/equipo-juvenil-los-lobos" class="waves-effect waves-light btn"><i
                                class="material-icons right">library_books
                            </i>Leer
                            mas</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/e4/f1/f0/la-mejor-experiencia.jpg">
                        <span class="card-title">Instalaciones</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>Nueva localización para jugar en...</p>
                        </span>
                        <a routerLink="/noticias/nueva-localizacion-sevilla" class="waves-effect waves-light btn"><i
                                class="material-icons right">library_books
                            </i>Leer
                            mas</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="offset-m1 offset-l2 col s12 m10 l8 offset-l2">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://i.pinimg.com/originals/4e/ed/21/4eed21ba24be3a379e812986a3bc6243.jpg">
                        <span class="card-title">Mods</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>La marca SpainMods presume...</p>
                        </span>
                        <a routerLink="/noticias/spainmods-presume-de-su-nuevo-mod"
                            class="waves-effect waves-light btn"><i class="material-icons right">library_books
                            </i>Leer
                            mas</a>
                    </div>

                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img id="prueba"
                            src="https://p4.wallpaperbetter.com/wallpaper/248/407/709/airsoft-ar15-kraken-kriss-vector-wallpaper-preview.jpg">
                        <span class="card-title">Competición</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>Kraken Galicia peresenta su...</p>
                        </span>
                        <a routerLink="/noticias/kraken-galicia-participara-en-el-europeo"
                            class="waves-effect waves-light btn"><i class="material-icons right">library_books
                            </i>Leer
                            mas</a>
                    </div>

                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://images2.alphacoders.com/100/thumb-1920-100440.jpg">
                        <span class="card-title">Novedades</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>La famosa marca GI-O crea...</p>
                        </span>
                        <a routerLink="/noticias/la-marca-gi-o-crea-la-replica-mas-barata"
                            class="waves-effect waves-light btn"><i class="material-icons right">library_books
                            </i>Leer
                            mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <a onclick="M.toast({html: 'Cargando mas noticias...'})" class="waves-effect waves-light btn"><i
                class="material-icons right">arrow_downward</i>Cargar mas</a>
    </div>
    <br>

</body>

<app-footer></app-footer>