<app-nav></app-nav>

<body>

    <br>

    <div class="center">
        <h3>LA MARCA DE REPLICAS SPAINMODS PRESUME SU NUEVA M4A4-ASIMOV</h3>
    </div>

    <div class="row">
        <div class="offset-l1 col l10 center">
            <img id="wolf" class="responsive-img"
                src="https://i.pinimg.com/originals/4e/ed/21/4eed21ba24be3a379e812986a3bc6243.jpg" alt="">
        </div>
        <div class="offset-l2 col l8 offset-l2">
            <div>
                <p>
                    La nuevo M4A4-ASIMOV está alimentado por un engranaje neumático eléctrico Inferno GEN2 (fabricado en
                    EE. UU. Por Wolverine airsoft). Las funciones de disparo: seguridad, semi, sonido de 3 y totalmente
                    automático se han conservado y han aparecido nuevas opciones:
                    <br><br>
                    — Velocidad de disparo programable (de 15 a 30 rondas por segundo) <br>
                    — Ráfaga programable (de 2 a 7 disparos) <br>
                    — Potencia ajustable (de 95m / s a ​​130m / s en bolas e 0,20g) <br>
                    — Salto conjunto Ultimate 70 ° <br>
                    — Características originales: <br>

                    — Detección de cargador vacío (la réplica deja de tirar) <br>
                    — 4 posiciones de tiro <br>
                    — Piezas de metal CNC <br>
                    — Hecho en Dinamarca <br>
                    — Cuerpo de fibra de nylon de alta densidad. <br>
                    — Material telescópico y plegable. <br>
                    — Canon interno 208mm <br>
                    — Peso 1850g <br>
                    — Cargador de 75 bolas <br>
                    — Longitud 425mm / 623mm <br>
                    — Conector de aire de tipo estadounidense <br>
                </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>