<app-nav></app-nav>

<body>

    <div class="row">
        <div class="col offset-l2 l8" id="bg">
            <div class="center">
                <p id="legal">Información sobre la web</p>
            </div>

            <p>Esta web ha sido desarrollada por Andrés Sánchez Vera, para la asignatura de Desarrollo de Interfaces de
                2º de DAM, en <a href="https://goo.gl/maps/BdvG9edCz5fS5MZ37">Escuelas Salesianas María Auxiliadora
                    Nervión (Sevilla)</a>, todo el contenido de esta cuenta es <strong id="educativo">ficticio</strong>, ninguna de las redes sociales o localizaciones son de esta supuesta empresa</p>

            <p>Esta página no tiene ningún beneficio económico para su desarrollador, su único objetivo es <strong
                    id="educativo">educativo.</strong></p>

            <p>
                <strong>
                    Webgrafía:
                </strong>
                a continuación se mostrara todos los puntos de donde han sacado algún tipo de multimedia o Información.
            </p>

            <h5 id="contacto">
                Para cualquier reclamación / modificación de la información o imagenes de esta web, porfavor pongase en
                contacto con
                <a target="_blank" href="mailto:andressanchezvera@gmail.com?Subject=Página%20Web%20GOE%20Airsoft">andressanchezvera@gmail.com</a>
            </h5>
<br>
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia Home</h5>
                </li>
                <a target="_blank" href="https://airsoftworldgame.com/es/" class="collection-item">Ofertas Enero</a>
                <a target="_blank" href="https://wallpaperaccess.com/full/1385804.jpg" class="collection-item">Nuevo
                    Francotirador</a>
                <a target="_blank"
                    href="https://cutewallpaper.org/21/airsoft-wallpaper/Wallpaper-Assault-rifle-bullets-3840x2160-UHD-4K-Picture-Image.jpg"
                    class="collection-item">Ofertas armas largas</a>
                <a target="_blank"
                    href="https://www.insumostacticos.com/productos/escopeta-airsoft-secutor-velites-ferrum-s-v-tan/"
                    class="collection-item">Escopeta Secutor</a>
                <a target="_blank"
                    href="https://airsoftyecla.es/smartblog/161_tipos-partidas-airsoft-experiencia-personaliz.html"
                    class="collection-item">Cursos</a>
                <a target="_blank" href="https://wallpaperaccess.com/full/798165.jpg" class="collection-item">Fondo</a>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia FAQs</h5>
                </li>
                <a target="_blank" href="https://www.pexels.com/photo/black-rifle-889709/"
                    class="collection-item">Imagen FAQs</a>
                <a target="_blank"
                    href="https://w0.peakpx.com/wallpaper/138/336/HD-wallpaper-acu-camo-pattern-army-patterns-military.jpg"
                    class="collection-item">Fondo</a>
                <a target="_blank" href="http://www.airsoftalbasit.com/que-es-el-airsoft/"
                    class="collection-item">Fuente</a>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia Noticias</h5>
                </li>
                <a target="_blank" href="https://pbs.twimg.com/media/D2btbZzXcAAYhRo.jpg" class="collection-item">El
                    equipo juvenil "Los Lobos"</a>
                <a target="_blank"
                    href="https://media-cdn.tripadvisor.com/media/photo-s/1a/e4/f1/f0/la-mejor-experiencia.jpg"
                    class="collection-item">Nueva localidad para jugar</a>
                <a target="_blank" href="https://i.pinimg.com/originals/4e/ed/21/4eed21ba24be3a379e812986a3bc6243.jpg"
                    class="collection-item">Mods</a>
                <a target="_blank"
                    href="https://p4.wallpaperbetter.com/wallpaper/248/407/709/airsoft-ar15-kraken-kriss-vector-wallpaper-preview.jpg"
                    class="collection-item">Kraken Galicia</a>
                <a target="_blank" href="https://images2.alphacoders.com/100/thumb-1920-100440.jpg"
                    class="collection-item">Marca GI-O</a>
                <a target="_blank"
                    href="https://1.bp.blogspot.com/-itRb4UQT7vg/XxBk77oop_I/AAAAAAAAGXQ/S2SWMmRwP1o-xi7YHb9qcdjZHUQxiB85QCLcBGAsYHQ/w1200-h630-p-k-no-nu/wallpaperize-camo-military-dark.png"
                    class="collection-item">Fondo</a>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia Tienda</h5>
                </li>
                <a target="_blank" target="_blank" a href="https://airsoftyecla.es/" class="collection-item">Todos los
                    productos</a>
                <a target="_blank" target="_blank"
                    href="https://w0.peakpx.com/wallpaper/585/919/HD-wallpaper-green-autumn-camouflage-military-camouflage-camouflage-backgrounds-camouflage-textures-green-camouflage-background-camouflage-pattern-autumn-camouflage.jpg"
                    class="collection-item">Fondo</a>
                <a target="_blank" href="adsadasd" class="collection-item">adsadasdsad</a>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia Noticias </h5>
                </li>
                <a target="_blank" target="_blank" href="https://pbs.twimg.com/media/D2btbZzXcAAYhRo.jpg"
                    class="collection-item">El equipo juvenil</a>
                <a target="_blank" target="_blank"
                    href="https://media-cdn.tripadvisor.com/media/photo-s/1a/e4/f1/f0/la-mejor-experiencia.jpg"
                    class="collection-item">Nueva localizacion</a>
                <a target="_blank" target="_blank"
                    href="https://i.pinimg.com/originals/4e/ed/21/4eed21ba24be3a379e812986a3bc6243.jpg"
                    class="collection-item">Mods</a>
                <a target="_blank" target="_blank"
                    href="https://p4.wallpaperbetter.com/wallpaper/248/407/709/airsoft-ar15-kraken-kriss-vector-wallpaper-preview.jpg"
                    class="collection-item">Kraken Galicia</a>
                <a target="_blank" target="_blank" href="https://images2.alphacoders.com/100/thumb-1920-100440.jpg"
                    class="collection-item">GI-O</a>

            </ul>

            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia Cookies y Privacidad </h5>
                </li>
                <a target="_blank" target="_blank"
                    href="https://cdn.pixabay.com/photo/2020/11/28/11/25/cookie-5784367_960_720.png"
                    class="collection-item">Imagen Cookies</a>
                <a target="_blank" target="_blank" href="https://wallpapercave.com/wp/1IsXQYm.jpg"
                    class="collection-item">Fondo</a>
                <a target="_blank" target="_blank"
                    href="https://www.modelosycontratos.com/2016/04/aviso-cookies-pagina-web/"
                    class="collection-item">Aviso Cookies</a>
                <a target="_blank" target="_blank" href="http://www.legislacioninternet.com/ejemplo-aviso-legal/"
                    class="collection-item">Avisos Legales</a>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia Contacto </h5>
                </li>
                <a target="_blank" target="_blank"
                    href="https://get.wallhere.com/photo/1920x1080-px-gun-military-soldier-656531.jpg"
                    class="collection-item">Fondo</a>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia Login, registro</h5>
                </li>
                <a target="_blank" target="_blank" href="https://wallpaperaccess.com/full/5668.jpg" class="collection-item">Fondo</a>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Multimedia Cesta</h5>
                </li>
                <a target="_blank" target="_blank" href="https://wallpaperaccess.com/full/1812875.jpg" class="collection-item">Fondo</a>
                <a target="_blank" target="_blank" href="https://www.cmb.cat/wp-content/uploads/2013/12/logo-nacex.jpg" class="collection-item">Nacex</a>
                <a target="_blank" target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5Ojq-258TNUeVx8lHKBPUblDkaov0efOUXV03tvj4zoIQEPs2Kx0vOAPAH-hi8O4xuAw&usqp=CAU" class="collection-item">Correos</a>
                <a target="_blank" target="_blank" href="https://www.tuexperto.com/wp-content/uploads/2019/09/mrw-logo.jpg" class="collection-item">MRW</a>
                <a target="_blank" target="_blank" href="https://www.bbva.es/content/dam/public-web/bbvaes/images/personas/productos/02_tarjetas/productos/credito/tarjeta-despues/2400x1600-tarjeta-despues.png.img.2400.1563794455180.png" class="collection-item">Tarjeta</a>                
                <a target="_blank" target="_blank" href="https://appmarketingnews.io/wp-content/uploads/2021/12/Bizum-banner-1.jpeg" class="collection-item">Bizum</a>                
                <a target="_blank" target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2560px-PayPal.svg.png" class="collection-item">PayPal</a>                
                <a target="_blank" target="_blank" href="https://materializecss.com/icons.html" class="collection-item">Iconos</a>                
            </ul>



        </div>

    </div>

    <app-footer></app-footer>

</body>