body {
    background-image: url(https://wallpapercave.com/wp/1IsXQYm.jpg);
}

#bg {
    margin-top: 20px;
    background-color: #000;
}

#legal {
    font-size: 25px;
    color: #fff;
}

#imglegal {
    width: 50px;
}

#center {
    display: inline-block;
}

p {
    color: #fff;
    font-size: 20px;
}

h5 {
    color: #000;
}


#educativo {
    font-size: 23px;
}

#contacto {
    color: #fff;
}