<app-nav></app-nav>

<div class="parallax-container">
    <div class="parallax"><img src="./assets/faqs2.jpg"></div>
</div>

<div id="fondo">

    <ul id="up" class="collapsible popout">
        <li>
            <div class="collapsible-header black">
                <h4 class="h4">¿Que es el Airsoft?</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">Según la Federación Española de Airsoft, es una actividad lúdico deportiva de
                    estrategia y simulación. Se
                    considera un deporte de aventuras que permite combinar equipos, estrategias, conocimientos,
                    actividades
                    físicas, compañerismo, juegos de orientación, respeto y un sin fin más de cuestiones, que está
                    haciendo
                    del airsoft una actividad de moda imparable, cada día con mayor auge y mayor número de adeptos.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header black">
                <h4 class="h4">¿De que trata?</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">Es como una obra de teatro militar. Hay actores que representan diferentes papeles,
                    hay escenarios,
                    normalmente al aire libre, hay guiones que se deben estudiar y seguir, hay vestuario, decorados y
                    también existe todo tipo de atrezzo. También hay un desayuno en grupo, unas cañas para reponerse y
                    contar batallitas (nunca mejor dicho) y una comida de confraternización si se tercia.
                    <br><br>
                    Es ante todo un juego de estrategia, de equipos y, porque no decirlo, de honor ya que tienes que
                    reconocer que te han dado (marcado es la palabra exacta) y salir del escenario de juego para volver
                    a
                    empezar.
                    <br><br>
                    Últimamente, con el auge de los videojuegos de guerra como Medall Of Honor, Battlefield ó Call Of
                    Duty
                    Blacks Ops que vendió siete millones de copias el primer día que salió al mercado, se realizan
                    partidas
                    (obras de teatro) que tratan de reproducir misiones visionadas en esos videojuegos.
                    <br><br>
                    Así de fácil. Hay gente que le da por calzarse unos zapatos blancos y negros con clavos en las
                    suelas,
                    unas calcetas a cuadros hasta la rodilla, una chaqueta verde, un palo con una bola de metal en la
                    punta,
                    con un señor al lado que le lleva un montón de palos raros más, que suelen viajar en un carrito con
                    toldo en lugar de techo y se van por un enorme campo de césped precioso en mitad de un desierto para
                    tratar de meter una bola en unos agujeros. Eso está bien.
                    <br><br>
                    A otros les da por vestirse de camuflaje para ocultarse entre los hierbajos, coger un fusil de
                    juguete
                    que dispara balines de plástico de 0,20 gramos y tratar de cambiar el color de una bandera plantada
                    en
                    el claro de un pinar. También está bien, ¿Por qué no?
                    <br><br>
                    El airsoft es un juego y deporte de aventuras en el que se mezclan conceptos como carrera al aire
                    libre,
                    carrera de orientación, disparo de precisión, estrategia, organización, sacrificio, esfuerzo… Se
                    trata
                    de un juego de guerra similar al Paintball, con más distancias de juego y armas muy reales (no,
                    armas
                    no, nunca, las nuestras se llaman réplicas ó marcadoras). Pero sobre todo es una forma de pasar el
                    día
                    en la naturaleza, corriendo, saltando y pegándote barrigazos junto a los amigos.
                    <br><br>
                    Esta actividad se basa en la recreación de combates usando reproducciones de armas reales (las
                    cuales
                    disparan pequeñas bolas de plástico biodegradable de 6 mm) en escenarios de juego similares a los de
                    una
                    hipotética guerra , con equipamiento militar simulado. Simulado, simulado, simulado…
                    <br><br>
                    Aunque no existe una indumentaria concreta, cada equipo prefiere equiparse según el tipo de juego al
                    que
                    se dedique (existen muchas modalidades y variantes).
                    <br><br>
                    En las grandes reuniones nacionales (llamadas eventos), los participantes de airsoft organizan sus
                    reuniones en campos de batalla dedicadas al airsoft que suelen estar acondicionados con elementos
                    simulados como muros, búnkers, trincheras, naves industriales, viviendas abandonadas, y otras
                    edificaciones similares, con el fin de ofrecer un realismo que se asemeje a los entornos de combate
                    reales. Inicialmente, basta con un coto de caza acotado ó señalizado, un bosque frondoso o un pinar
                    para
                    poder desarrollar actividades de airsoft.
                    <br><br>
                    El término “airsoft” proviene del inglés; se traduciría como “aire suave“. Esto hace referencia a la
                    forma en que la munición es disparada.
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header black">
                <h4 class="h4">Un poco de historia</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">A pesar de concepciones erradas, el airsoft fue practicado por primera vez a
                    finales de los años 70, a
                    partir del concepto de usar armas de aspecto real que disparasen balas no letales con el propósito
                    de
                    simular situaciones de confrontación armada. Las primeras réplicas de tipo airsoft datan del año
                    1950
                    con la aparición de una pistola de juguete llamada “Shootin’ Shell”, fabricada por Mattel.
                    <br><br>
                    Igualmente, el Ejército de los Estados Unidos ya había concebido este tipo de ideas tras la Segunda
                    Guerra Mundial par realizar prácticas y ensayar nuevas estrategias. La eclosión de este deporte
                    viene de
                    las manos del fabricante japonés Tokio Marui quién inventa y desarrolla unas réplicas
                    tecnológicamente
                    avanzadas.
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header black">
                <h4 class="h4">Introducción al Airsoft</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">El Airsoft gira en torno a las réplicas de Airsoft. La réplica es de nula lesividad
                    y representa
                    fielmente un arma; normalmente la gente utiliza la ó las réplicas que más le gustan estéticamente.
                    Aunque no es primordial utilizar vestimenta y tácticas de combate real, ayuda a crear una atmósfera
                    de
                    juego que hace que la experiencia sea mucho mas gratificante que en el paintball. Las réplicas
                    utilizan
                    bolitas de PVC u otras resinas sintéticas (inertes y en zonas naturales como bosques ó pinares son
                    biodegradables) de 6mm de diámetro (llamadas BBs) con una fuerza en torno a 1 Julio, que pueden ser
                    proyectadas por un mecanismo de un solo disparo que se acciona a mano (Replicas de muelle), por un
                    mecanismo eléctrico que permite disparar Bbs a velocidades bastantes altas o bien por un mecanismo
                    de
                    Gas.
                    <br><br>
                    Las réplicas de Airsoft no son armas, ni técnicamente pueden ser modificadas para disparar ningún
                    tipo
                    de munición de fuego y, por supuesto, no son dañinas salvo que se utilicen de forma errónea a
                    escasos
                    metros y sin protección ocultar.
                    <br><br>
                    Hasta hace unos meses, juridicialmente, estaban catalogadas como artículos de juguete. Muy
                    recientemente, se ha publicado un decreto y un nuevo reglamente que sitúa a nuestras réplicas como
                    armas
                    de cuarta categoría, equiparándolas a las escopetas de aire comprimido de plomos que suelen usar los
                    niños para matar pájaros y lagartijas. Sin embargo, se ha creado un nuevo apartado denominado “Armas
                    lúdico deportivas”. Esto que, en principio podría considerarse un engorro para la práctica de
                    nuestro
                    deporte, es en realidad una tramitación muy bien recibida ya que rellena el vacio que existía hasta
                    ahora y legaliza nuestra afición. En la actualidad, todos nuestros socios han efectuado los trámites
                    pertinentes para legalizar sus réplicas.
                    <br><br>
                    Destacar una vez más que la velocidad máxima que alcanza un proyectil de plástico de airsoft es de
                    120
                    metros por segundo y una carabina de aire comprimido de plomos roza los 400 metros por segundo.
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header black">
                <h4 class="h4">¿Duele?¿Mancha?</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">Las BBs adquieren mucha velocidad, lo que da a casi cualquier réplica fuerza
                    suficiente como para llegar
                    a 40m de distancia con una precisión aceptable. A partir de esa distancia, la bola va perdiendo
                    fuerza y
                    prácticamente no marca al adversario. El impacto puede resultar doloroso si se produce desde muy
                    cerca
                    (dos ó tres metros) en sitios tales como nariz, nudillos, lóbulo de la oreja y ojos… por ello es
                    obligatorio el uso de Gafas de protecciónque cumplan la norma Europea EPI-89/686/CEE (EN166) o el
                    estándar americano ANSI Z87.1 y que impidan el paso de bolas hacia los ojos, es decir, no dejen un
                    hueco
                    lo suficientemente grande entre la cara y las gafas por donde pueda entrar una bola. Las gafas se
                    deberán llevar puestas en todo momento, salvo en las zonas de seguridad habilitadas.
                    <br><br>
                    También se pueden llevar pasamontañas, caretas de protección y cascos para mayor protección, si se
                    desea.
                    <br><br>
                    Para evitar hacer daño y que te lo hagan, dependiendo de la fuerza de la réplica, se establecen unas
                    distancias mínimas a las que se puede disparar, espacio que dependen de la categoría de nuestra
                    réplica
                    y es suficiente como para notar el impacto bajo la ropa sin que sea doloroso. Así, si eres un
                    jugador de
                    campo, utilizarás una réplica de fusil de asalto con una velocidad de 110 metros por segundo
                    (insisto
                    que los plomos de las carabinas de aire comprimido viajan a 450 metros por segundo) y tu distancia
                    de
                    seguridad será de 5 metros. Si en la partida eres francotirador, tu arma será de precisión, con mira
                    telescópica, una velocidad de 150 metros por segundo pero, sin embargo, una distancia de seguridad
                    de 20
                    ó 25 metros. Si tu adversario esta más próximo no podrás hacer uso de tu marcadora.
                    <br><br>
                    El Airsoft, a diferencia del paintball, utiliza bolas sólidas. Debido a su pequeño tamaño, estas
                    bolas
                    no se rompen al impactar contra superficies blandas. No se elimina al adversario manchándolo de
                    pintura
                    sino golpeándolo con un pequeño impacto en su cuerpo. Cuando se realizan partidas en campo abierto
                    se
                    utilizan siempre bolas biodegradables que se desintegran gradualmente a lo largo de varias semanas
                    y,
                    por consiguiente, no dañan el entorno, algo fundamental para nosotros.
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header black">
                <h4 class="h4">¿Cómo son las marcadoras?</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">Las réplicas de Airsoft, son las “marcadoras” con las cuales jugamos al Airsoft.
                    Son réplicasiguales o
                    parecidas a las armas de verdad, pero que disparan unos proyectiles de plástico, pudiendo así
                    “marcar”
                    al oponente como eliminado.
                    <br><br>
                    Tipos de armas de airsoft
                    Rifles, fusiles, escopetas y armas grandes:
                    De tipo Muelle (Spring):
                    Éste tipo de armas de airsoft son muy baratas, pero por su baja cadencia de fuego no sirven para
                    jugar,
                    al tener una clara desventaja con las eléctricas y las de gas. Como mucho, pueden servir para alguna
                    partida del tipo CQB (combate urbano) o para exhibiciones.
                    Los únicos jugadores que pueden usar este tipo de armas de airsoft sin sufrir desventaja, son los
                    francotiradores, ya que su tipo de juego, les obliga a tener una velocidad de disparo muy baja, a
                    cambio
                    de otras ventajas como la distancia y el alcance de sus réplicas.
                    <br><br>
                    La principal ventaja de cualquier réplica de muelle es que su mecanismo es simple, fiable, y
                    preciso.
                    Los mejores y más fiables rifles de precisión son los de muelle. El mayor defecto que tienen es que
                    debe
                    ser amartillada antes de cada disparo.
                    <br><br>
                    De tipo Eléctricas: AEG (Automatic Electric Gun)
                    El funcionamiento del sistema se basa en la utilización de un gearbox, es decir una “caja de
                    engranajes”
                    que contiene un motor eléctrico para empujar un pistón y soltarlo, pero de forma continua,
                    alimentado
                    por una batería. La cadencia de disparo puede ser por tanto muy alta, e incluso existen armas de
                    airsoft
                    capaces de disparar 100 Bbs por segundo. Las réplicas eléctricas estándar tienen una velocidad de
                    disparo más económica y práctica de 12-18 bolas por segundo. Los cargadores habituales tienen una
                    capacidad de 300 a 400 bolas. La mayoría de las réplicas eléctricas tienen un selector de disparo
                    que
                    puede elegir disparo semiautomático (tiro a tiro) o automático (ráfaga).
                    <br><br>
                    De tipo Gas
                    Las armas de airsoft que funcionan a gas en esta categoría, son generalmente, híbridas. Es decir,
                    son
                    réplicas eléctricas que tienen un Blowback (es un sistema de retroceso simulado para darle realismo
                    al
                    portador), movido por un gas que no contamina. Este tipo de réplicas, suelen ser muy caras, y tienen
                    el
                    inconveniente de que el gas es caro, y en invierno se desempeña de peor manera, aún existiendo gas
                    para
                    esta estación del año. En este tipo de réplicas, el gas se suele alojar en las propias réplicas,
                    separadamente del cargador de bolas.
                    <br><br>
                    Por cierto, el gas utilizado en airsoft es el denominado Green Gas. Es absolutamente inofensivo y
                    ecológico y no contiene ningún tipo de porquería que fastidie la capa de ozono.

                </p>


            </div>
        </li>
        <li>
            <div class="collapsible-header black">
                <h4 class="h4">¿Como se juega?</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite"> Existen numerosos tipos de partidas de airsoft pero casi todas ellas se pueden
                    tipificar en alguno de
                    los tres siguientes grupos.
                    <br><br>
                    <strong> MilSim o Simulación Militar
                    </strong>
                    <br>
                    Los jugadores intentan utilizar las tácticas y el estilo de las unidades militares, y el juego es
                    habitualmente estratégico, como Defender la Base, Atacar la Base, Búsqueda y Destrucción o similar.
                    <br><br>
                    <strong> TacSim o Simulación Táctica
                    </strong>
                    <br>
                    TacSim es la simulación de situaciones tácticas. Las escaramuzas estilo SWAT (equipos policiales
                    especiales) son un tipo de TacSim.
                    <br><br>
                    <strong>Lúdico</strong>

                    <br>
                    Es un tipo de Airsoft, en el cual se juega más por diversión que por otra cosa. A pesar de ser así,
                    no
                    está reñido con el MilSim, ya que dentro de un mismo equipo, los miembros pueden optar por seguir
                    coordinación táctica, pero también pueden elegir “pasárselo bien”, jugando individualmente, o no
                    siguiendo un orden establecido; intentando lograr el objetivo marcado, pero de una forma menos
                    “táctica”.
                    <br>
                    A nuestra asociación se están sumando cada vez más “núcleos familiares”, es decir padres con hijos e
                    hijas que vienen a pasar una mañana juntos, a dispararse mutuamente. ¿Hay alguna terapia mejor para
                    eliminar las tensiones familiares?
                    <br><br>
                    <strong> A modo de ejemplos…
                    </strong>
                    <br>
                    Se pueden situar cuatro ó cinco banderas en algunos puntos del campo de juego. Originalmente, ondean
                    los
                    dos colores de los equipos (rojo y amarillo, por ejemplo). Tras la configuración de dos equipos
                    (rojo y
                    amarillo, claro), se trata de conseguir cambiar el máximo posible de banderas dejando en lo alto la
                    de
                    tu color y bajando la del equipo contrario y, con posterioridad, defenderlas para que el otro equipo
                    no
                    te las arrebata en un tiempo especificado inicialmente.
                    En otro momento, se puede jugar a defender a unas personas que el otro equipo tratará de
                    arrebatarte. En
                    este caso, la estrategia, la coordinación del equipo y su rapidez de movimiento por el campo de
                    juego
                    son fundamentales.
                    En realidad, todo es cuestión de imaginación y creatividad y está visto que eso no tiene límites.
                </p>

            </div>
        </li>

        <li>


            <div class="collapsible-header black">
                <h4 class="h4">¿Hay algun peligro?</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">En absoluto. El único riesgo de lesión de los proyectiles de airsoft son las
                    lesiones oculares. Para
                    prevenirlas se utilizan gafas de seguridad homologadas según la norma EN-166 (EPI-89/686/CEE). Las
                    gafas
                    deben cumplir con las clasificaciones óptica 2 ó 1 y de seguridad A, B o F. Por este motivo todos
                    los
                    jugadores, observadores, fotógrafos y acompañantes deben ir obligatoriamente equipados con ellas.
                    Tampoco esta de más una protección completa de la cara como protecciones faciales especiales ó
                    simples
                    pasamontañas.</p>
            </div>



        </li>

        <li>
            <div class="collapsible-header black">
                <h4 class="h4">¿Existen clubes, asociaciones o alguna federación?</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">Existe una Federación Española de Airsoft (<a
                        href="https://federacion-espa-airsoft.es/"
                        target="_blank">https://federacion-espa-airsoft.es/</a>) en la que
                    encontrar información. Al mismo tiempo, se han creado multitud de clubes y asociaciones a lo largo y
                    ancho de nuestra geografía.
                    En Girona cada año se organiza un evento de airsoft con una participación que ronda los 4000
                    participantes.</p>
            </div>
        </li>

        <li>
            <div class="collapsible-header black">
                <h4 class="h4">Fuente</h4>
            </div>
            <div class="collapsible-body black">
                <p class="textwhite">Todo este FAQ ha sido sacado de <a
                        href="http://www.airsoftalbasit.com/que-es-el-airsoft/"
                        target="_blank">airsoftalbasit.com</a>,
                    para cualquier cambio o reclamacion porfavor pongase en contacto con <a
                        href="mailto:andressanchezvera@gmail.com">Andres Sánchez</a></p>
                <p>Gracias!</p>
            </div>
        </li>

    </ul>

    <app-footer></app-footer>
</div>