@font-face {
  font-family: war;
  src: url(assets/font/WarWound.otf) format("opentype");
}


@font-face {
  font-family: progress;
  src: url(assets/font/Progress.ttf) format("opentype");
}


@font-face {
  font-family: gun;
  src: url(assets/font/GunPlay.ttf) format("opentype");
}


@font-face {
  font-family: block;
  src: url(assets/font/Block.otf) format("opentype");
}

@font-face {
  font-family: cookies;
  src: url(assets/font/Cookies.ttf) format("opentype");
}

.sidenav-overlay {
  display: block; 
  opacity: 0 !important;
}
