
<app-nav></app-nav>

<body>

    <div id="slider">
        <figure>
            <img src="./assets/cursos3x.png" alt="">
            <img src="./assets/escopeta3x.png" alt="">
            <img src="./assets/ofertas3x.png" alt="">
            <img src="./assets/nuevorifle3x.png" alt="">
            <img src="./assets/cursos3x.png" alt="">
        </figure>
    </div>

    <h1 class="center titulo">Bienvenidos al GOE Airsoft Club. Since 2008</h1>


    <div id="padre" class="row">


        <div class="col s12 m6 l6">
            <h1 class="center titulo" id="armas-largas">ultimas noticias</h1>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img src="https://pbs.twimg.com/media/D2btbZzXcAAYhRo.jpg">
                        <span class="card-title">Competición</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>El equipo juvenil "Los Lobos" ganan...</p>
                        </span>
                        <a class="btn waves-effect waves-light black"><i class="material-icons right">chrome_reader_mode
                            </i>Leer mas</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/1a/e4/f1/f0/la-mejor-experiencia.jpg">
                        <span class="card-title">Instalaciones</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>Nueva localización para jugar en...</p>
                        </span>
                        <a href="noticias/nueva-localizacion-sevilla" class="btn waves-effect waves-light black"><i class="material-icons right">chrome_reader_mode
                            </i>Leer mas</a>
                    </div>

                </div>
            </div>
        </div>



        <div class="col s12 m6 l6">
            <h1 class="center titulo" id="armas-largas">ultimas armas</h1>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./assets/riflet21.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>D|BOYS RIFLE T21 BLACK</p><i id="fondorev" class="material-icons right">more_vert</i>
                        </span>
                        <a href="shop" class="btn waves-effect waves-light black"><i class="material-icons right">shop</i>Ir a
                            la tienda</a>
                    </div>
                    <div id="fondorev" class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            <p>D|BOYS ELECTRIC RIFLE T21 BLACK</p><i id="fondorev"
                                class="material-icons right">close</i>
                        </span>
                        <ul>
                            <h5> Características:</h5>
                            <li>&nbsp;&nbsp;• Polímero y metal </li>
                            <li>&nbsp;&nbsp;• Longitud: 690mm </li>
                            <li>&nbsp;&nbsp;• Peso: 2380g </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"
                            src="https://airsoftyecla.es/13377-large_default/galaxy-serie-g-gbb-gold-we.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p>G GBB GOLD</p><i id="fondorev" class="material-icons right">more_vert</i>
                        </span>
                        <a href="shop" class="btn waves-effect waves-light black"><i class="material-icons right">shop</i>Ir a
                            la tienda</a>
                    </div>
                    <div id="fondorev" class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            <p>GALAXY SERIE G GBB GOLD - WE</p><i id="fondorev" class="material-icons right">close</i>
                        </span>
                        <ul>
                            <h5> Características:</h5>
                            <li>&nbsp;&nbsp;• Marca: WE </li>
                            <li>&nbsp;&nbsp;• Color: Oro </li>
                            <li>&nbsp;&nbsp;• Calibre: 6 mm </li>
                            <li>&nbsp;&nbsp;• Accionamiento: Gas </li>
                            <li>&nbsp;&nbsp;• Potencia: 0,9 julios </li>
                            <li>&nbsp;&nbsp;• Hop-up ajustable </li>
                            <li>&nbsp;&nbsp;• Materiales :Metal, polímero </li>
                            <li>&nbsp;&nbsp;• Presión: 130(PSI) </li>
                            <li>&nbsp;&nbsp;• Capacidad del cargador: 23 disparos (6 mm) </li>
                            <li>&nbsp;&nbsp;• Peso: 890g </li>
                            <li>&nbsp;&nbsp;• Modo de disparo : Semi / Automático / Seguro </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-footer></app-footer>

</body>